{% load static %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4" style="margin-left: 350px;text-align: left; font-size: 40px;"><b>General Summary!</b></h1>
            <p style="margin-left: 350px;text-align: left;">We are the operations engine for industry disruptors as well
                as an enterprise operations enabler for established brands that need agility to stay abreast of evolving
                markets. We bring domain-centric, best-in-class digital operations capabilities that can be deployed at
                scale, with an optimal mix of "shoring" models. We are enabled by our Digital Knowledge Operations™
                (DKO™) framework, which brings an automation-first approach to delivering agile, ​
                end-to-end digital business processes..</p>
            <button type="button" class="btn mt-0 text-center"
                style="margin-left: 350px;text-align: left; width: 140px; height:40px; background-color: #29B9CE; border-radius: 0.5rem;"><b>Learn More>></b></button>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card border border-secondary shadow p-2 mb-5 bg-white rounded"
                    style="width:23rem; height: 11rem;">
                    <img class="card rounded-circle mx-2 d-block  img-thumbnail mt-4 border border-0 shadow p-1 mb-0 bg-white rounded"
                        src="/static/main/img/Production.jpg" alt="Card image cap"
                        style="text-align: center; width: 210px; height: 100px; object-fit:scale-down;">
                    <div class="card-body">
                        <h5 class="card-title mt-0 text-white"><a class="text-white" style="text-decoration:none"  href="{% url 'production_tracker' %}">Production Tracker</a></h5>
                        <p class="card-text text-white">With supporting text below as a natural
                            lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <style>
                    .card {
                        flex-direction: row;
                    }

                    .card img {
                        width: 30%;
                        background-color: rgb(255, 255, 255) !important;
                    }

                    .card {
                        background-color: #532464 !important;
                    }

                </style>
                <div class="card border border-secondary shadow p-2 mb-5 bg-white rounded"
                    style="width:23rem; height: 11rem;">
                    <img class="card rounded-circle mx-2 d-block mt-4 img-thumbnail border border-0 shadow p-1 mb-0 bg-white rounded"
                        src="/static/main/img/Quality.jpg" alt="Card image cap"
                        style="text-align: center; width: 210px; height: 100px; object-fit:scale-down;">
                    <div class="card-body">
                        <h5 class="card-title mt-0 text-white"><a class="text-white" style="text-decoration:none"  href="{% url 'quality_tracker' %}">Quality Tracker</a></h5>
                        <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border border-secondary shadow p-2 mb-5 bg-white rounded"
                    style="width:23rem; height: 11rem;">
                    <img class="card rounded-circle mx-2 d-block mt-4 img-thumbnail border border-0 shadow p-1 mb-0 bg-white rounded"
                        src="/static/main/img/Query.jpg" alt="Card image cap"
                        style="text-align: center; width: 210px; height: 100px; object-fit:scale-down;">
                    <div class="card-body">
                        <h5 class="card-title mt-0 text-white"><a class="text-white" style="text-decoration:none"  href="{% url 'query_tracker' %}">Query Tracker</a></h5>
                        <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card border border-secondary shadow p-2 mb-5 bg-white rounded"
                    style="width: 23rem; height: 11rem;">
                    <img class="card rounded-circle mx-2 d-block mt-4 img-thumbnail border border-0 shadow p-1 mb-0 bg-white rounded"
                        src="/static/main/img/Buisness Insight.jpg" alt="Card image cap"
                        style="text-align: center; width: 210px; height: 100px; object-fit:scale-down;">
                    <div class="card-body">
                        <h5 class="card-title mt-0 text-white"><a class="text-white" style="text-decoration:none"  href="#">Business Insight</a></h5>
                        <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border p-2 mb-5 " style="width: 23rem; height: 11rem;">
                    <img class="card rounded-circle mx-2 d-block mt-4 img-thumbnail border border-0 shadow p-1 mb-0 bg-white rounded"
                        src="/static/main/img/Data Utilites.jpg" alt="Card image cap"
                        style="text-align: center; width: 210px; height: 100px; object-fit:scale-down;">
                    <div class="card-body">
                        <h5 class="card-title mt-0 text-white"><a class="text-white" style="text-decoration:none"  href="#">Data Utilities</a></h5>
                        <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="col-lg-3">
                        <div class="card border border-secondary shadow p-2 mb-5 bg-white rounded"
                            style="width:23rem; height: 11rem; right: -140px; top: -9px;">
                            <img class="card rounded-circle mx-2 d-block mt-4 img-thumbnail border border-0 shadow p-1 mb-0 bg-white rounded"
                                src="# image #" alt="Card image cap"
                                style="text-align: center; width: 210px; height: 100px; object-fit:scale-down;">
                            <div class="card-body">
                                <h5 class="card-title mt-0 text-white"><a class="text-white" style="text-decoration:none"  href=" enter urls">SOP Management System</a></h5>
                                <p class="card-text text-white">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                </div>
            </div>
        </div>
    </div>

</main>
