<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  {% include 'main/head.html' %}
</head>

<body>
  {% include 'main/navbar.html' %}
  <div>
    <a href="{% url 'home' %}"
      style="position: absolute; top: 1px; left: 2px; z-index: 1000; margin-top: 90px; margin-left: 20px;"><i
        class="fa fa-arrow-circle-left" style="font-size:35px;color:black"></i></a>
  </div>
  <div class="main-container">
    <h1 class="justify-content-center ml-4" style="font: size 40px; font-weight: bold;">QUERY MANAGEMENT SYSTEM</h1>
    <p>Not Created Yet</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>

</html>
